:root {
  --maincolor: #25063C;
  --bordercl: #25063C;
  --callouctcolor: dodgerblue;
  --hovercolor: navy;
  --darkMaincolor: #F6CD44;;
}

html, body, .content {
  height: 100%;
}

header {
  height: 70px;
  margin: 15px 0;
  padding-left: 80px;
}

main {
  min-height: calc(100% - 180px);
}

footer {
  height: 50px;
  margin: 15px 0;
}

hr {
  border-top: 3px dotted #F6CD44;
}

.content {
  background-image: url(/emba.svg);
  background-size: 70px;
  background-repeat: no-repeat;
  background-origin: content-box;
}

::-moz-selection { background: #25063C; color: #fff; }
	::selection { background: #25063C; color: #fff; }